@page
@model SejlklubrazorpageFINAL.Pages.AboutModel
@{
}

<div>>
    <h1>Om Hillerød Sejlklub</h1>
</div>

<div>
    ><img src="#" alt="Alternate Text" />
    <p>Hillerød Sejlklub er en klub for jollesejlere.</p>
    <p>Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, for det sociale samvær, og evt. selv medvirke eller støtte andre sejlere i konkurrencesejlads.</p>
</div>
