@page
@model SejlklubrazorpageFINAL.Pages.AboutModel
@{
}

<div class="text-center">
    <h1 class="display-4">Om Hillerød Sejlklub</h1>
</div>

<div>
    <p>Hillerød Sejlklub er en klub for jollesejlere.</p>
    <p>Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, for det sociale samvær, og evt. selv medvirke eller støtte andre sejlere i konkurrencesejlads.</p>
    <img src="#" alt="Alternate Text" />
</div>

<div class="row row-cols-4">
<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">Optimistjolle</h5>
            <p class="card-text">Beskrivelse:</p>
                <p class="card-text">Klubben råder over et antal kluboptimistjoller. Denne jolle er den typiske begynderjolle, hvor piger og drenge fra 10 års alderen lærer at sejle og bliver tryg ved vandet.</p>
        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">TERA</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">FEVA</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">Laserjolle</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">Europajolle</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">Snipejolle</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">Wayfarar</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>

<div class="col">
    <div class="card" style="width: 18rem; margin: 12px; border-color: antiquewhite">
        <img src=#>
        <div class="card-body" style="">
            <h5 class="card-title">Lynæs</h5>
            <p class="card-text">Beskrivelse</p>
                <p class="card-text">Beskrivelse</p>

        </div>
    </div>
</div>
</div>