@page
@model SejlklubrazorpageFINAL.Pages.MembershipModel
@{
}

<h1>For medlemmer</h1>
<p>
    På denne side kan du finde de vigtigste informationer til nye og gamle medlemmer.<br />

    <h5>Nøgle til klubhus:</h5>
    Udlevering af nøgle til klubhus og klubbens bådskure kan ske via Kajakklubben.
</p>


