@page
@model SejlklubrazorpageFINAL.Pages.MembershipModel
@{
}
<div class="row">
<div class="column">
<h1>For medlemmer</h1>
<p>
    På denne side kan du finde de vigtigste informationer til nye og gamle medlemmer.<br /> <br />
    <h5>Bliv en del af fællesskabet</h5>

    Hillerød Sejlklub er et fællesskab for sejlere i alle aldre og på alle niveauer. Som medlem får du mulighed for at sejle, deltage i events og være en del af klubbens sociale liv.<br /><br />

    <h5>Fordele ved medlemskab:</h5>

    - Adgang til klubbens både og udstyr<br />

    - Mulighed for at booke båd til sejlture<br />

    - Deltagelse i kapsejladser og træning<br />

    - Invitation til sociale arrangementer og events<br />

    - Adgang til nyheder og opdateringer fra klubben<br /><br />

   <h5> Medlemsinformation</h5>

    Alle medlemmer har en personlig profil med kontaktoplysninger, sejlerhistorik og bookinger. Det gør det nemt at holde styr på aktiviteter og kommunikation i klubben.<br /> <br />

   <h5> Sådan bliver du medlem</h5>

    Ønsker du at blive medlem, skal du kontakte os direkte. Vi guider dig igennem processen og hjælper dig i gang på vandet<br /><br />

    <h5>Nøgle til klubhus:</h5>
    Udlevering af nøgle til klubhus og klubbens bådskure kan ske via Kajakklubben.
</p>
</div>
<div class="column"> 
        <img src="~/images/jollerogklubhus.jpg" />

    
</div>
</div>
